<form class="forms" action="/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit" class="btn btn-primary create-form-button">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}