<h1 id="quote">“Breathe life back to second-hand vinyl records.”</h1>
<br>
<br>
<div id="carouselExampleSlidesOnly" class="carousel slide carousel-div" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/carrousel1.jpeg" class="carrousel-images" alt="carrousel-slide1">
    </div>
    <div class="carousel-item">
      <img src="/images/carrousel2.jpeg" class="carrousel-images" alt="carrousel-slide2">
    </div>
    <div class="carousel-item">
      <img src="/images/carrousel3.jpeg" class="carrousel-images" alt="carrousel-slide3">
    </div>
  </div>
</div>