<h2>Create a new vinyl ad</h2>
<form action="/vinyl/create" method="post">
  <label>
    Album:
    <input type="text" name="album" required />
  </label>
  
  <label>
    Artist:
    <input type="text" name="artist" required />
  </label>

  <label>
    Year:
    <input type="number" name="year" min="1948" max="2022" />
  </label>

  <label>
    Genre:
    <select name="genre">
      <option value="Pop">Pop</option>
      <option value="Rock">Rock</option>
      <option value="Indie">Indie</option>
      <option value="Jazz">Jazz</option>
      <option value="Metal">Metal</option>
      <option value="Country">Country</option>
    </select>
  </label>

  <label>
    Condition:
    <input type="radio" name="condition" value="New" />
    <label>New</label>
    <input type="radio" name="condition" value="Used" />
    <label>Used</label>
  </label>

  <label>
    Description:
    <textarea rows="4" cols="50" name="description" placeholder="Enter a description..."></textarea>
  </label>

  <label>
    Price:
    <input type="number" name="price" min="1" required /> €
  </label>

  <label>
    Upload image:
    <input type="file" name="image">
  </label>

  <input class="btn btn-primary" type="submit" value="Submit">

</form>